.coming-soon {
    background-color: #152a3d;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-transform: uppercase;
}

.coming-soon > .header,
.coming-soon > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}

.coming-soon > .header p,
.coming-soon > .header a {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
}

.coming-soon > .content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coming-soon > .content > h1,
.coming-soon > .content > h2 {
    font-weight: 400;
    z-index: 10;
}

.coming-soon > .content > h1 {
    margin: 0;
    font-size: 10rem;
}

.coming-soon > .content > h2 {
    margin: 0;
    font-size: 3rem;
}


.coming-soon > .content > p {
    font-weight: 400;
    font-size: 2rem;
}

.coming-soon > .footer {
    margin-top: -21.5vh;
}